*{
    margin: 0;
    padding: 0;
}
/* start header  */
.header-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}
.header-title{
width: 708px;
color: #272727;
font-family: Lato;
font-size: 80px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.header-description{
width: 634px;
color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
margin: 32px 0px;
}
.header-btn{
padding: 20px 43px;
gap: 10px;
border-radius: 8px;
background: #E55473;
color: white;
border: none;
}

/* end header  */

/* flower-section start  */
.flower-header{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.flower-description{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;
width: 25%;
margin: auto;
text-align: center;
margin-top: 24px;

}
.flower-cards{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items:center;
    margin-top: 48px; 
    
       

}


.card1,.card2,.card3{
   
    width: 400px;
    border: 1px solid black;
    border-radius: 300px 300px 0px 0px;
    padding: 50px;
    background: rgba(167, 33, 98, 0.15);
    border: none;

}
.card2{
    background: rgba(5, 151, 160, 0.15);

    
}

.card3{
    background: rgba(71, 125, 17, 0.15);
}

.flower-1{
    height: 400px;
    width:310px;
}
.flower-title{
    display: flex;
    gap: 50px;
    font-size: 40px;
    
}
.flower-caption{
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
    list-style: none;
    margin: auto;
    margin-top: 20px;
}

/* Discount-section-start */
.offer-flowers{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    height: 50vh;
    padding: 100px;
    
}
.discount-header{
    text-align: center;
    
}
.discount-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.discount-description{
color: rgba(39, 39, 39, 0.60);
font-weight: 400;
line-height: 30px;
width: 70%;
margin: auto;
margin-top: 24px;
}
.signup-btn{
    margin-left: 50px;
    margin-top: 24px;

}
/* Discount-section-end */

/* Instagram-section-start */

.flower-images{
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
height: 50vh;

}
.instagram-header{
    text-align: center;
}
.instagram-description{
    width: 25%;
    margin: auto;
}
.instagram-title{
    margin-bottom: 24px;
}
/* Instagram-section-end */

/* latest-deals start  */
.latest-deals-section{
    height: 100vh;
}
.latest-details{
    max-width: 1440px;
    background-image: url('images/Rectangle 9.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 449px;
    margin: auto;
    text-align: center;
    position: relative;


}
.latest-heading{
    position:absolute;
   top: 120px;
   left: 40%;
font-size: 40px;
padding-bottom:20px;


   
}
.latest-discription{
    position:absolute;
   top: 150px;
   left: 45%;
   font-size: 18px;
   margin-top: 25px;
   font-weight: 10;


   
   
}
.subscription1{
    position:absolute;
   top: 200px; 
    left: 35%;
    padding: 10px;
    width: 300px;
    border: none;
    margin-top: 70px;

}
.subscription2-btn{
    position:absolute;
    top: 190px; 
    left: 65%;
    padding: 15px;
    background-color: #E55473;
    border: none;
    border-radius: 5px;
    margin-top: 70px;

    
}

/* latest-deals end  */





