*{
    margin: 0;
    padding: 0;
}
/* start header  */
.header-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
background: rgba(229, 84, 115, 0.10);}
.header-title{
width: 708px;
color: #272727;
font-size: 80px;
font-weight: 800;
}
.header-description{
width: 634px;
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;
margin: 32px 0px;
}
.header-btn{
padding: 20px 43px;
gap: 10px;
border-radius: 8px;
background: #E55473;
color: white;
border: none;
}

/* end header  */

/* flower-section start  */
.featured-flowers{
    height: 100vh;
    padding-top: 70px;
}
.flower-header{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
}
.flower-description{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;
width: 25%;
margin: auto;
text-align: center;
margin-top: 24px;

}
.flower-cards{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items:center;
    margin-top: 48px; 
}
.flower{
    margin-top: 140px;
}
.card-details{
    
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 20px 20px 0px 20px;

}
.card-details-1{
    background-color: rgba(5, 151, 160, 0.15);
    padding: 20px 20px 0px 20px;
}
.card-details-2{
    background: rgba(71, 125, 17, 0.15);
    padding: 20px 20px 0px 20px;
}


.flower-1{
    
    margin-bottom: -4px;
    padding-top: 50px;
    height: 450px;
    width: 400px;
}

.flower-title{
    display: flex;
    gap: 50px;
    font-size: 40px;
    
}
.flower-caption{
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
    list-style: none;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

/* Discount-section-start */
.offer-flowers{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    height: 50vh;
    padding: 100px;
    background: rgba(229, 84, 115, 0.05);
    
}
.discount-header{
    text-align: center;
    
}
.discount-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.discount-description{
color: rgba(39, 39, 39, 0.60);
font-weight: 400;
line-height: 30px;
width: 70%;
margin: auto;
margin-top: 24px;
}
.signup-btn{
    margin-left: 50px;
    margin-top: 24px;

}
/* Discount-section-end */

/* Instagram-section-start */

.flower-images{
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
height: 50vh;

}
.instagram-section{
height: 80vh;
}
.instagram-header{
    text-align: center;
}
.instagram-description{
    width: 25%;
    margin: auto;
}
.instagram-title{
    margin-bottom: 20px;
}
/* Instagram-section-end */

/* <!-- Achivement section start --> */
.Achivement-section{
    height: 80vh;
}
.achivement-img{
    height: 200px;
}
.achivement-btn{
padding: 20px ;
border-radius: 8px;
background: #E55473;
color: white;
border: none;
}
.show-more-btn{

    text-align: center;
}
/* .Achivement-header{
    margin-top: 50px;
} */

/* <!-- Achivement section  end--> */


/* latest-deals start  */
.latest-deals-section{
    height: 60vh;
}
.latest-details{
    max-width: 1440px;
    background-image: url('images/Rectangle 9.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 449px;
    margin: auto;
    text-align: center;
    position: relative;


}
.latest-heading{
    position:absolute;
   top: 120px;
   left: 40%;
font-size: 40px;
padding-bottom:20px;


   
}
.latest-discription{
    position:absolute;
   top: 150px;
   left: 45%;
   font-size: 18px;
   margin-top: 25px;
   font-weight: 10;


   
   
}
.subscription1{
    position:absolute;
   top: 200px; 
    left: 35%;
    padding: 15px;
    width: 300px;
    border: none;
    margin-top: 70px;

}
.subscription2-btn{
    position:absolute;
    top: 195px; 
    left: 65%;
    padding: 19px;
    background-color: #E55473;
    border: none;
    border-radius: 5px;
    margin-top: 70px;
    color: white;

    
}

/* latest-deals end  */


/* footer-start  */

.footer-section{
    background-color: black;
    padding: 100px;
    color: white;
    text-align: center;
    
}
.primary-color{
    color: #E55473;
    font-size: 48px;
}
.footer-section>h1{
    font-size: 48px;

}
.footer-description{
    /* width: 625px; */
    width: 35%;
    margin: auto;
    font-size: 18px;
    padding: 20px;
}
.final-text{
opacity: 0.5;
}


/* footer-end  */




